main .container{
  padding: 2.5em 1em;
}

.filters{
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.country-container{
  /* background-color: blue; */
  width: 100%;
  padding: 1em 2.5em;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  /* align-content: space-around; */
  gap: 2.5em 0em;
}

.filter-group{
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

@media(min-width: 675px){
  main .container{
    padding: 2.5em 5em;
  }

  .country-container{
    padding: 0em;
    flex-direction: row;
    justify-content: space-around;
    align-content: normal;
    gap: 2.5em 1em; 
  }

  .filter{
    flex-wrap: row wrap;
  }

  .filter-group{
    flex-direction: row;
    justify-content: space-between;
  }
}